body{
    margin: 0;
}
.home-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: grey; */
}

.section-container {
    margin: 10px;
    border: 2px;
    height: 100vh;
    background-color: white;
}

.sidebar-container {
    flex: 0.3;
    min-width: 150px;
    order: 1;
    flex-shrink: 2;
    border-right: 1px solid grey;
    border-radius: 10px;
}

.feed-container {
    flex: 0.4;
    min-width: 200px;
    overflow-y: scroll;
    order: 2;
    flex-shrink: 1;
}

.feed-container::-webkit-scrollbar {
    display: none;
  }

.widget-container {
    flex: 0.3;
    min-width: 150px;
    order: 3;
    flex-shrink: 2;
    padding-left: 10px;
    border-left: 1px solid gray;
    border-radius: 10px;
}

#page-header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

#header-twitter-icon-container{
    padding-left: 50px;
    background-color: aqua;
    border-radius: 20px;
}

#sidebar-option-list {
    list-style-type: none;
}

.sidebar-button {
    background-color: white;
    /* display: block; */
    display: flex;
    align-items: center;
    width: 90%;
    font-size: 1rem;
    border: none;
    text-align: left;
    height: 60px;
    border-radius: 20px;
    /* padding-left: 30px; */
}

.sidebar-anchor-button {
    display: flex;
    width: 90%;
    height: 60px;
    font-size: 1rem;
    background: white;
    align-items: center;
    padding-left: 10px;
    border-radius: 20px;
    /* border: 2px solid black; */
}

.sidebar-active-option {
    background-color: beige;
}

.sidebar-button:hover{
    cursor: pointer;
}

.sidebar-anchor-button:hover {
    cursor:pointer;
    background-color: grey;
}

.sidebar-button:hover{
    background-color: grey;
}

.sidebar-anchor {
    display: block;
    width: 400px;
    justify-self: center;
}

#sidebar-tweet-button {
    width: 80%;
    margin: auto;
    height: 40px;
    font-size: 1.3em;
    font-weight: 900;
    border-radius: 20px;
    display: block;
    background-color: #1DA1F2;
    color: white;
}

#sidebar-tweet-button:hover {
    cursor: pointer;
    background-color: lightcoral;
}

#home-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: sticky;
    top: 0px;
    background-color: rgb(199, 169, 135);
    border-radius: 10px;
}

#home-bar > h2 {
    font-size: 20px;
    font-weight: 800;
  }

.new-tweet-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin : 10px 5px 25px 5px;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
}

.new-tweet-box {
    width: 85%;
}

#new-tweet-input{
    height: 25px;
    width: 100%;
}

.tweet-feed {
    background-color: white;
    height: inherit;
}

.profile-dp {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 5px;
}

.tweet-box-button {
    /* border: none; */
}

#tweet-box-tweet-button {
    height: 30px;
    width: 80px;
    background-color: lightblue;
    float: right;
    border-radius: 20px;
}

.tweet {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5px 0px 5px 0px;
}

.tweet-profile-dp {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 5px;
}

.username-text {
    font-size: 18px;
    font-weight: bold;
}

.userhandle-text {
    font-size: 14px;
    color: grey;
}

.tweet-image-container {
    /* border: 1px solid black; */
}

.tweet-image {
    display: block;
    margin: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
}

.tweet-option-button-container {
    display: flex;
    margin: 5px auto 5px;
    justify-content: space-around;
}


.tweet-option-button {
    margin: auto;
}

.widget-iframe {
    width: 95%;
    margin : 5px auto 5px;
}

@media (max-width: 900px) { 
    body {
        justify-content: space-around;
    }

    .home-container{
        margin: 0 auto;
        max-width: 600px;
        flex-direction: column;
    }

    .sidebar-container {
        order: 2;
    }
}